div {
  height: 100px;
  width: 100px;
  background-color: aquamarine;
  border: 2px solid black;
  text-align: center;
  position: absolute;
  top: 100px;
  left: 100px;
  /* animation-name: colorAnimate;
  animation-duration: 3s;
  animation-timing-function: ease-in;
  animation-delay: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse; */
  animation: colorAnimate 4s ease-in infinite alternate-reverse;
}

@keyframes colorAnimate {
  0% {
    background-color: aquamarine;
    left: 0px;
  }
  50% {
    background-color: blue;
  }
  100% {
    background-color: red;
    left: 200px;
  }
}

div:hover {
}

div:active {
  background-color: pink;
  color: black;
}
